{% extends "layout.html" %}
{% block style %}
<style>
#testfile{
  display:none;
}
#submit{
  display: none;
}
</style>
{% endblock %}
{% block contents %}
    <div class="container-fluid">
      <form method="POST" enctype="multipart/form-data">
        <label id="testfile-label" for="testfile" class="jumbotron jumbotron-fluid bg-primary text-white margin-bottom: 50px margin:center-block" style="display:block;">
          {% if form %}
            {{ form.hidden_tag() }}
            {{ form.testfile() }}
          {% endif %}
          <img class="img-rounded" src="/static/images/cloud.png" width="100px" height="100px">
          <h2> Drag and Drop files here to upload</h2>
            <button type="button" class="btn btn-light" onclick="submitBtn()">
              Browse File
              {{form.submit()}}
            </button>
          <!-- 파일 -->
          <button type="button" class="btn btn-success">Edit Tool</button>
          <!---->
        </label>
      </form>

     <div class="row">
      <div class="col-md-2">
        <img class="img-circle" src="static/images/icon.png" width="200px" height="200px" href="#">
        <p style="font-size: small; text-align:center text-bold"> Click to enter MaLaN Wiki</p>
      </div>

      <div class="col-md-3">
        <h1> Recent Changed </h1>
        <table class="table">
          <thead>
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>확장자</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td scope="row"></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-md-3">
        <h1> Top Favorite </h1>
        <table class="table">
          <thead>
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>확장자</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td scope="row"></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-md-3">
        <h1> Most Changed </h1>
        <table class="table">
          <thead>
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>확장자</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td scope="row"></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </div>
     </div>

    </div>
{% endblock contents %}

{% block script %}
<script>
  function handleDroppedFile(evt){
    evt.preventDefault();
    var dT = evt.originalEvent.dataTransfer;
    var files = dT.files;
    if(files && files.length){
      $('#testfile')[0].files = files;
      submitBtn();
    }
}
$('#testfile').on({
  'change': submitBtn
})

$('#testfile-label').on({
  'drop': handleDroppedFile,
  'dragover': function (evt){evt.preventDefault();}});

function testfileBtn() {
  document.getElementById('testfile').click();
}

function submitBtn() {
  document.getElementById('submit').click();
}
</script>
{% endblock %}
